<!-- Footer -->
<footer class="footer">
    <div class="section-heading">
        <div class="container">
            <div class="columns is-gapless has-text-centered">

                <div class="column is-1"></div>
                <div class="column is-3">&copy; 2019 SDJB Ltd</div>
                <div class="column is-1">
                    <a href="../terms">Terms</a>
                </div>
                <div class="column is-1">
                    <a href="../privacy">Privacy</a>
                </div>
                <div class="column is-1">
                    <a href="../contact">Contact</a>
                </div>
                <div class="column is-1">
                    <a href="../about">About</a>
                </div>
                <div class="column is-3">
                    <p class="has-text-centered">
                        Proudly hosted by
                        <a href="../">
                            <img class="is-shadowless" src="../src/assets/image/codos/logo/logo-codos-footer.png"
                                width="61" height="15" alt="CODOS">
                        </a>
                    </p>
                </div>
                <div class="column is-1"></div>
            </div>

        </div>
    </div>
    </div>
</footer>