    <!-- Navigation bar -->
    <nav class="navbar is-fresh is-transparent is-fixed-top has-shadow">

            <div class="navbar-brand">
                <a class="navbar-item" href="./">
                    <img class="is-shadowless" src="./src/assets/image/codos/logo/logo-codos-1.png" alt="" width="112"
                        height="28">
                </a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
    
            <div id="navbarExampleTransparentExample" class="navbar-menu">
    
                <div class="navbar-end">
                    <a class="navbar-item" href="#about">
                        <span class="iconfont icon-info"></span>
                        <span>About</span>
                    </a>
                    <a class="navbar-item" href="#services">
                        <span class="iconfont icon-services"></span>
                        <span>Services</span>
                    </a>
                    <a class="navbar-item" href="#portfolio">
                        <span class="iconfont icon-templatemagt" style="padding-right: 0.1rem"></span>
                        <span>Portfolio</span>
                    </a>
                    <a class="navbar-item" href="#contact">
                        <span class="iconfont icon-email" style="padding-right: 0.1rem"></span>
                        <span>Contact</span>
                    </a>
                </div>
            </div>
        </nav>